/* Box */

	.box
	{
	}				
		.box iframe
		{
			width: 100%;
			height: 28.7em;
		}

body
{
	min-width: 960px;
}

body,input,textarea,select
{
	font-size: 11pt;
}

header
{
	margin: 0 0 4em 0;
}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

.wrapper
{
	padding: 5em 0 1em 0;
	text-align: center;
}

	.wrapper.first
	{
		padding-top: 11em;
	}

	.wrapper.style4 .row-special
	{
		margin: 2em 0 0 0;
		padding: 2em 0 2em 0;
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#logo .bg1
{
	width: 9em;
	height: 9em;
}

#logo .bg2
{
	width: 9em;
	height: 9em;
}

/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/

#top
{
}